# Python Crash Course

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

In [12]:
# Multiple Assignment
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

### Strings

In [13]:
'single quotes'

'single quotes'

In [14]:
"double quotes"

'double quotes'

In [15]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [16]:
# Strings
data = 'hello world'
print(data[0])
print(len(data))
print(data)

h
11
hello world

### Printing

In [17]:
num = 12
name = 'Sam'

In [18]:
print('My number is: {one}, and my name is: {two}'.format(one=num, two=name))

My number is: 12, and my name is: Sam

In [19]:
print('My number is: {}, and my name is: {}'.format(num, name))

My number is: 12, and my name is: Sam

### Lists

In [20]:
my_list = ['a','b','c']

In [21]:
my_list.append('d')

In [22]:
my_list

['a', 'b', 'c', 'd']

In [23]:
my_list[0]

'a'

In [24]:
my_list[1]

'b'

In [25]:
my_list[1:]

['b', 'c', 'd']

In [26]:
my_list[0] = 'NEW'

In [27]:
my_list

['NEW', 'b', 'c', 'd']

### Dictionaries

In [28]:
d = {'key1':'item1','key2':'item2'}

In [29]:
d

{'key1': 'item1', 'key2': 'item2'}

In [30]:
d['key1']

'item1'

### Booleans

In [31]:
True

True

In [32]:
False

False

### Tuples

In [33]:
t = (1,2,3)

In [34]:
t[0]

1

In [35]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [36]:
{1,2,3}

{1, 2, 3}

In [37]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## if, elif,  else Statements

In [38]:
if 1 < 2:
    print('ok')

ok

In [39]:
if 1 < 2:
    print('ok')

ok

In [40]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [41]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [42]:
seq = ['a', 'b', 'c', 'd', 'e']

In [43]:
for item in seq:
    print(item)

a
b
c
d
e

## while Loops

In [44]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [45]:
range(5)

range(0, 5)

In [46]:
for i in range(5):
    print(i)

0
1
2
3
4

In [47]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [48]:
x = [1,2,3,4]

In [49]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [50]:
# Sum function
def mysum(x, y):
    sum = x + y
    return sum
 
# Test sum function
print(mysum(1, 3))

4

## lambda expressions

In [51]:
def times2(x):
    return x * 2

In [52]:
times2(2)

4

In [53]:
(lambda x: x*2)(2)

4